::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-thumb {
  background: #282828;
}

#content {
  width: calc(100%);
  height: calc(100%);
  padding: 20px;
  background: #121212;
  padding-top: 70px;
  overflow-y: scroll;

  .playlist-title {
    font-size: 20px;
    text-transform: capitalize;
  }

  table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 15px;
    font-size: initial;
  }

  table tr {
    border-bottom: 1px solid #282828;
  }

  table td {
    padding: 10px 0;
  }

  i,.song-name {
    cursor: pointer;
  }

  .song-name{
    text-decoration: underline;
  }

  button {
    background-color: #2bcc6c;
    color: white;
    padding: 12.5px 30px;
    border-radius: 25px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    border: none;
    cursor: pointer;
  }

  img {
    width: 50px;
  }
}
