#playbar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: #282828;
  z-index: 99;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left {
  width: 200px;

  .artist {
    font-size: 14px;
    color: '#999999';
    margin-top: 5px;
  }
}

.middle {
  display: flex;
  flex-direction: column;
  align-items: center;

  .fa-play,
  .fa-pause {
    font-size: 14px;
  }

  .play-pause-circle {
    width: 35px;
    height: 35px;
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  } 
}
