$height: 80px;

@keyframes move {
  from {
    bottom: -$height;
  }
  to {
    bottom: 0px;
  }
}

#playbar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #282828;
  z-index: 99;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  animation: move 2s;

  .left {
    width: 200px;

    .artist {
      font-size: 14px;
      color: '#999999';
      margin-top: 5px;
    }
  }

  .middle {
    display: flex;
    flex-direction: column;
    align-items: center;

    .fa-play,
    .fa-pause {
      font-size: 14px;
    }

    .play-pause-circle {
      width: 35px;
      height: 35px;
      border: 1px solid white;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
    .progress-container {
      max-width: 600px;
      width: 50vw;
      height: 5px;
      position: relative;
      background-color: #4f4f4f;
      margin-top: 10px;
      display: inline-flex;
      margin: 10px 10px 0px 10px;

      .bar {
        height: 100%;
        background-color: rgb(167 167 167);
      }
    }
  }
  .right {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .fa-volume-up,
    .fa-volume-off {
      font-size: 20px;
    }
  }
}
